<div id="footer" class="border-top-thin clearfix mt-2 mt-lg-4">
  <div class="container px-2 mx-auto">
    <div style="display: grid;">
      <div style="grid-row: 1/1; grid-column: 1/1;">
        <h1>Pachli</h1>
        <ul>
          <li><a href="/download/">Download</a></li>
          <li>Features</li>
          <li><a href="https://github.com/pachli/pachli-android/releases">Release archive</a></li>
          <li><a href="https://github.com/pachli/pachli-android">Source code</a></li>
          <li><a href="https://github.com/pachli/pachli-android/blob/main/LICENSE.txt">License</a></li>
        </ul>
      </div>

      <div style="grid-row: 1/1; grid-column: 2/2;">
        <h1>Project</h1>
        <ul>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="https://github.com/pachli/pachli-android/blob/main/CODE_OF_CONDUCT.md">Code of conduct</a></li>
          <li>Governance</li>
          <li><a href="/privacy/">Privacy policy</a></li>
          <li><a href="/csae">CSAE policy</a></li>
        </ul>
      </div>

      <div style="grid-row: 1/1; grid-column: 3/3;">
        <h1>Contact</h1>
        <ul>
          <li><a href="https://mastodon.social/@pachli">@pachli@mastodon.social</a></li>
          <li><a href="mailto:team@pachli.app">team@pachli.app</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container mx-auto px-2">
    <p class="col-8 sm-width-full left py-2 mb-0">Pachli is a <a class="text-accent" href="https://nivenly.org">Nivenly Foundation</a> project</p>
    <!-- <ul class="list-reset right clearfix sm-width-full py-2 mb-2 mb-lg-0">
      <li class="inline-block mr-1">
        <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="{{ site.title }}">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </li>
      <li class="inline-block">
        <a class="github-button" href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}" data-icon="octicon-star" data-count-href="{{ site.github_username }}/{{ github_repo }}/stargazers" data-count-api="/repos/{{ site.github_username }}/{{ github_repo }}#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star {{ site.github_username }}/{{ github_repo }} on GitHub">Star</a>
      </li>
    </ul> -->
  </div>
</div>

<script type="text/javascript" src="/assets/js/lightbox.js"></script>
