// Orange theme

$orange: #f37b2f;
$orange-dark: #DF6D16;
$blue: #006382;
$gray: #30383a;
$light-gray: #d4d2c6;
$white: #fff;
$black: #181818;

$color-background: $blue !default;
$color-dot-accent: $orange !default;
$color-foreground: $white !default;
$color-title: $white !default;
$color-body-text: $black !default;
$color-text-accent: $orange-dark !default;
$color-code: $gray !default;
$color-nav-link: $white !default;
$color-primary-link: $blue !default;
$color-border: $blue;
$color-text-decoration: $orange-dark !default;


// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities",
        "lightbox/lightbox"
;
