// Orange theme

$orange: #f37b2f;
$orange-dark: #DF6D16;
$blue: #006382;
$gray: #30383a;
$light-gray: #d4d2c6;
$white: #fff;
$black: #181818;

$color-background: $blue !default;
$color-dot-accent: $orange !default;
$color-foreground: $white !default;
$color-title: $white !default;
$color-body-text: $black !default;
$color-text-accent: $orange-dark !default;
$color-code: $gray !default;
$color-nav-link: $white !default;
$color-primary-link: $blue !default;
$color-border: $blue;
$color-text-decoration: $orange-dark !default;

$color-primary: #166683 !default;
$color-onPrimary: #FFFFFF !default;
$color-primaryContainer: #C0E8FF !default;
$color-onPrimaryContainer: #004D66 !default;
$color-secondary: #4D616C !default;
$color-onSecondary: #FFFFFF !default;
$color-secondaryContainer: #D0E6F3 !default;
$color-onSecondaryContainer: #364954 !default;
$color-tertiary: #5E5A7D !default;
$color-onTertiary: #FFFFFF !default;
$color-tertiaryContainer: #E4DFFF !default;
$color-onTertiaryContainer: #464364 !default;
$color-error: #BA1A1A !default;
$color-onError: #FFFFFF !default;
$color-errorContainer: #FFDAD6 !default;
$color-onErrorContainer: #93000A !default;
$color-background: #F6FAFE !default;
$color-onBackground: #171C1F !default;
$color-surface: #F6FAFE !default;
$color-onSurface: #171C1F !default;
$color-surfaceVariant: #DCE3E9 !default;
$color-onSurfaceVariant: #40484C !default;
$color-outline: #71787D !default;
$color-outlineVariant: #C0C7CD !default;
$color-scrim: #000000 !default;
$color-inverseSurface: #2C3134 !default;
$color-inverseOnSurface: #EDF1F5 !default;
$color-inversePrimary: #8DCFF1 !default;
$color-primaryFixed: #C0E8FF !default;
$color-onPrimaryFixed: #001E2B !default;
$color-primaryFixedDim: #8DCFF1 !default;
$color-onPrimaryFixedVariant: #004D66 !default;
$color-secondaryFixed: #D0E6F3 !default;
$color-onSecondaryFixed: #091E27 !default;
$color-secondaryFixedDim: #B4CAD6 !default;
$color-onSecondaryFixedVariant: #364954 !default;
$color-tertiaryFixed: #E4DFFF !default;
$color-onTertiaryFixed: #1B1736 !default;
$color-tertiaryFixedDim: #C7C2EA !default;
$color-onTertiaryFixedVariant: #464364 !default;
$color-surfaceDim: #D6DADE !default;
$color-surfaceBright: #F6FAFE !default;
$color-surfaceContainerLowest: #FFFFFF !default;
$color-surfaceContainerLow: #F0F4F8 !default;
$color-surfaceContainer: #EAEEF2 !default;
$color-surfaceContainerHigh: #E4E9EC !default;
$color-surfaceContainerHighest: #DFE3E7 !default;
$color-primary_mediumContrast: #003B4F !default;
$color-onPrimary_mediumContrast: #FFFFFF !default;
$color-primaryContainer_mediumContrast: #2C7593 !default;
$color-onPrimaryContainer_mediumContrast: #FFFFFF !default;
$color-secondary_mediumContrast: #253943 !default;
$color-onSecondary_mediumContrast: #FFFFFF !default;
$color-secondaryContainer_mediumContrast: #5C707B !default;
$color-onSecondaryContainer_mediumContrast: #FFFFFF !default;
$color-tertiary_mediumContrast: #363252 !default;
$color-onTertiary_mediumContrast: #FFFFFF !default;
$color-tertiaryContainer_mediumContrast: #6D698D !default;
$color-onTertiaryContainer_mediumContrast: #FFFFFF !default;
$color-error_mediumContrast: #740006 !default;
$color-onError_mediumContrast: #FFFFFF !default;
$color-errorContainer_mediumContrast: #CF2C27 !default;
$color-onErrorContainer_mediumContrast: #FFFFFF !default;
$color-background_mediumContrast: #F6FAFE !default;
$color-onBackground_mediumContrast: #171C1F !default;
$color-surface_mediumContrast: #F6FAFE !default;
$color-onSurface_mediumContrast: #0D1215 !default;
$color-surfaceVariant_mediumContrast: #DCE3E9 !default;
$color-onSurfaceVariant_mediumContrast: #30373C !default;
$color-outline_mediumContrast: #4C5358 !default;
$color-outlineVariant_mediumContrast: #676E73 !default;
$color-scrim_mediumContrast: #000000 !default;
$color-inverseSurface_mediumContrast: #2C3134 !default;
$color-inverseOnSurface_mediumContrast: #EDF1F5 !default;
$color-inversePrimary_mediumContrast: #8DCFF1 !default;
$color-primaryFixed_mediumContrast: #2C7593 !default;
$color-onPrimaryFixed_mediumContrast: #FFFFFF !default;
$color-primaryFixedDim_mediumContrast: #005C79 !default;
$color-onPrimaryFixedVariant_mediumContrast: #FFFFFF !default;
$color-secondaryFixed_mediumContrast: #5C707B !default;
$color-onSecondaryFixed_mediumContrast: #FFFFFF !default;
$color-secondaryFixedDim_mediumContrast: #445862 !default;
$color-onSecondaryFixedVariant_mediumContrast: #FFFFFF !default;
$color-tertiaryFixed_mediumContrast: #6D698D !default;
$color-onTertiaryFixed_mediumContrast: #FFFFFF !default;
$color-tertiaryFixedDim_mediumContrast: #555173 !default;
$color-onTertiaryFixedVariant_mediumContrast: #FFFFFF !default;
$color-surfaceDim_mediumContrast: #C3C7CB !default;
$color-surfaceBright_mediumContrast: #F6FAFE !default;
$color-surfaceContainerLowest_mediumContrast: #FFFFFF !default;
$color-surfaceContainerLow_mediumContrast: #F0F4F8 !default;
$color-surfaceContainer_mediumContrast: #E4E9EC !default;
$color-surfaceContainerHigh_mediumContrast: #D9DDE1 !default;
$color-surfaceContainerHighest_mediumContrast: #CED2D6 !default;
$color-primary_highContrast: #003041 !default;
$color-onPrimary_highContrast: #FFFFFF !default;
$color-primaryContainer_highContrast: #004F69 !default;
$color-onPrimaryContainer_highContrast: #FFFFFF !default;
$color-secondary_highContrast: #1B2F38 !default;
$color-onSecondary_highContrast: #FFFFFF !default;
$color-secondaryContainer_highContrast: #384C56 !default;
$color-onSecondaryContainer_highContrast: #FFFFFF !default;
$color-tertiary_highContrast: #2B2848 !default;
$color-onTertiary_highContrast: #FFFFFF !default;
$color-tertiaryContainer_highContrast: #494567 !default;
$color-onTertiaryContainer_highContrast: #FFFFFF !default;
$color-error_highContrast: #600004 !default;
$color-onError_highContrast: #FFFFFF !default;
$color-errorContainer_highContrast: #98000A !default;
$color-onErrorContainer_highContrast: #FFFFFF !default;
$color-background_highContrast: #F6FAFE !default;
$color-onBackground_highContrast: #171C1F !default;
$color-surface_highContrast: #F6FAFE !default;
$color-onSurface_highContrast: #000000 !default;
$color-surfaceVariant_highContrast: #DCE3E9 !default;
$color-onSurfaceVariant_highContrast: #000000 !default;
$color-outline_highContrast: #262D31 !default;
$color-outlineVariant_highContrast: #434A4F !default;
$color-scrim_highContrast: #000000 !default;
$color-inverseSurface_highContrast: #2C3134 !default;
$color-inverseOnSurface_highContrast: #FFFFFF !default;
$color-inversePrimary_highContrast: #8DCFF1 !default;
$color-primaryFixed_highContrast: #004F69 !default;
$color-onPrimaryFixed_highContrast: #FFFFFF !default;
$color-primaryFixedDim_highContrast: #00374A !default;
$color-onPrimaryFixedVariant_highContrast: #FFFFFF !default;
$color-secondaryFixed_highContrast: #384C56 !default;
$color-onSecondaryFixed_highContrast: #FFFFFF !default;
$color-secondaryFixedDim_highContrast: #21353F !default;
$color-onSecondaryFixedVariant_highContrast: #FFFFFF !default;
$color-tertiaryFixed_highContrast: #494567 !default;
$color-onTertiaryFixed_highContrast: #FFFFFF !default;
$color-tertiaryFixedDim_highContrast: #322F4F !default;
$color-onTertiaryFixedVariant_highContrast: #FFFFFF !default;
$color-surfaceDim_highContrast: #B5B9BD !default;
$color-surfaceBright_highContrast: #F6FAFE !default;
$color-surfaceContainerLowest_highContrast: #FFFFFF !default;
$color-surfaceContainerLow_highContrast: #EDF1F5 !default;
$color-surfaceContainer_highContrast: #DFE3E7 !default;
$color-surfaceContainerHigh_highContrast: #D1D5D9 !default;
$color-surfaceContainerHighest_highContrast: #C3C7CB !default;


// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities",
        "lightbox/lightbox"
;
