<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div>
      <header class="header-background">
        <div class="clearfix border-bottom-thick header-border">
          <div class="container mx-auto px-2">
            <ul class="list-reset mr-4 right py-1 header-text font-smoothing">
              {% for my_page in site.pages %}
                {% if my_page.title %}
                <li class="inline-block">
                  <a class="align-middle link-primary header-link mr-2" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="home-header-grid container mx-auto header-text px-2 ml-1">
          <h1 class="h0 mt-3 header-title">{{ site.title }}</h1>

          <div id="logo" class="xss-hide">
            <img
              style="vertical-align: top;"
              srcset="{{ page.logo.srcset }}"
              sizes="{{ page.logo.sizes }}"
              src="{{ page.logo.src }}"
              alt="{{ page.logo.alt }}">
          </div>
        </div>


        <div class="home-header-grid2 container mx-auto px-2 mb-0 py-0 header-text" style="align-items: end;">
          <div id="header-screenshot" class="py-0">
            <img class="xss-hide"
              style="vertical-align:bottom"
              srcset="{{ page.device_shot.srcset }}"
              sizes="{{ page.device_shot.sizes }}"
              src="{{ page.device_shot.src }}"
              alt="{{ page.device_shot.alt }}">
          </div>
          <div id="icon-row" class="mt-3 mb-2 mr-2">
            <div class="table">
              <div class="inline-block mr-1 sm-hide">
                {% include dot-accent.html %}
              </div>
              <div class="inline-block mr-1 sm-hide">
                {% include dot-accent.html %}
              </div>
              <div class="inline-block mr-1">
                {% include github.html %}
              </div>

              <div class="inline-block mr-1">
                {% include mastodon.html %}
              </div>

              <div class="inline-block">
                {% include google-play.html %}
              </div>
            </div>
          </div>
          <div id="description" class="ml-2 mr-2">
            <!-- Set site description in config.yml -->
            <p class="h4 lh-condensed font-smoothing mt-2 py-1">{{ site.description }}</p>
          </div>
        </div>
      </header>

      <div class="container mx-auto px-2 py-4">
        {% for post in site.posts %}
          {% include post_block.html %}
        {% endfor %}
      </div>

    </div>

    {% include footer.html %}

  </body>

</html>
